<!DOCTYPE html>
<html>

<% include head %>

<body>
	<% include header %>
	<div class="container" style="padding-top: 50px;">
		<h1>
			You know you wanna Node
		</h1>
		<p>
			<div>
				Log in if you want to do anything.
			</div>
		</p>
	</div>
</body>

<% include footer %>

</html>
